name: GitHub Pagesname: GitHub Pagesname: GitHub Pages



on:

  push:

    branches:on:on:

      - main

  pull_request:  push:  push:



permissions:    branches:    branches:

  contents: write

      - main  # Set a branch to deploy      - main  # Set a branch to deploy

jobs:

  deploy:  pull_request:  pull_request:

    runs-on: ubuntu-22.04

    concurrency:

      group: ${{ github.workflow }}-${{ github.ref }}

    steps:permissions:permissions:

      - uses: actions/checkout@v3

        with:  contents: write  contents: write

          submodules: true

          fetch-depth: 0



      - name: Setup Hugojobs:jobs:

        uses: peaceiris/actions-hugo@v2

        with:  deploy:  deploy:

          hugo-version: '0.152.2'

          extended: true    runs-on: ubuntu-22.04    runs-on: ubuntu-22.04



      - name: Build    concurrency:    concurrency:

        run: hugo --minify

      group: ${{ github.workflow }}-${{ github.ref }}      group: ${{ github.workflow }}-${{ github.ref }}

      - name: Deploy

        uses: peaceiris/actions-gh-pages@v3    steps:    steps:

        if: github.ref == 'refs/heads/main'

        with:      - uses: actions/checkout@v3      - uses: actions/checkout@v3

          github_token: ${{ secrets.GITHUB_TOKEN }}

          publish_dir: ./public        with:        with:

          force_orphan: true
          submodules: true  # Fetch Hugo themes (true OR recursive)          submodules: true  # Fetch Hugo themes (true OR recursive)

          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod



      - name: Setup Hugo      - name: Setup Hugo

        uses: peaceiris/actions-hugo@v2        uses: peaceiris/actions-hugo@v2

        with:        with:

          hugo-version: '0.152.2'          hugo-version: '0.152.2'

          extended: true          extended: true



      - name: Build      - name: Build

        working-directory: ./boxer-lawn-hugo        working-directory: ./boxer-lawn-hugo

        run: hugo --gc --minify        run: hugo --minify



      - name: Deploy      - name: Deploy

        uses: peaceiris/actions-gh-pages@v3        uses: peaceiris/actions-gh-pages@v3

        if: github.ref == 'refs/heads/main'        if: github.ref == 'refs/heads/main'

        with:        with:

          github_token: ${{ secrets.GITHUB_TOKEN }}          github_token: ${{ secrets.GITHUB_TOKEN }}

          publish_dir: ./boxer-lawn-hugo/public          publish_dir: ./public
          force_orphan: true