name: GitHub Pagesname: GitHub Pages



on:on:

  push:  push:

    branches:    branches:

      - main  # Set a branch to deploy      - main  # Set a branch to deploy

  pull_request:  pull_request:



permissions:permissions:

  contents: write  contents: write



jobs:jobs:

  deploy:  deploy:

    runs-on: ubuntu-22.04    runs-on: ubuntu-22.04

    concurrency:    concurrency:

      group: ${{ github.workflow }}-${{ github.ref }}      group: ${{ github.workflow }}-${{ github.ref }}

    steps:    steps:

      - uses: actions/checkout@v3      - uses: actions/checkout@v3

        with:        with:

          submodules: true  # Fetch Hugo themes (true OR recursive)          submodules: true  # Fetch Hugo themes (true OR recursive)

          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod



      - name: Setup Hugo      - name: Setup Hugo

        uses: peaceiris/actions-hugo@v2        uses: peaceiris/actions-hugo@v2

        with:        with:

          hugo-version: '0.152.2'          hugo-version: '0.152.2'

          extended: true          extended: true



      - name: Build      - name: Build

        working-directory: ./boxer-lawn-hugo        working-directory: ./boxer-lawn-hugo

        run: hugo --gc --minify        run: hugo --minify



      - name: Deploy      - name: Deploy

        uses: peaceiris/actions-gh-pages@v3        uses: peaceiris/actions-gh-pages@v3

        if: github.ref == 'refs/heads/main'        if: github.ref == 'refs/heads/main'

        with:        with:

          github_token: ${{ secrets.GITHUB_TOKEN }}          github_token: ${{ secrets.GITHUB_TOKEN }}

          publish_dir: ./boxer-lawn-hugo/public          publish_dir: ./public
          force_orphan: true